* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.App {
  width: 100vw;
  min-height: 100vh;
  height: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.App #games {
  width: 80%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-auto-rows: 50%;
  transition: all 0.5s ease-in-out;
}
.App #games > * {
  border: 1px solid black;
  cursor: pointer;
  z-index: 0;
}
.App #games > * video {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}
.App #games > * > h1 {
  background-color: #fff;
}
.App #games > *.active > i {
  display: block;
}
.App #games > * > i {
  font-size: 2rem;
  color: #222;
  position: absolute;
  right: 20px;
  top: 20px;
  display: none;
  z-index: 10;
}
.App #games > * > i:hover {
  color: #666;
}
.App #games.active {
  width: 100vw;
}
.App #user-credentials {
  width: 20vw;
  height: 100%;
  right: -20%;
  position: absolute;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  align-items: center;
  flex-direction: column;
  transition: all 0.5s ease-in-out;
  z-index: 5;
  background-color: white;
}
.App #user-credentials .logo img {
  width: 100%;
  height: 100%;
}
.App #user-credentials .register,
.App #user-credentials .login {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}
.App #user-credentials .register.active,
.App #user-credentials .login.active {
  display: flex;
}
.App #user-credentials .register > h1,
.App #user-credentials .login > h1 {
  text-transform: capitalize;
  font-family: "Roboto", sans-serif;
}
.App #user-credentials .register form,
.App #user-credentials .login form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 80%;
}
.App #user-credentials .register form input,
.App #user-credentials .login form input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #222;
  outline: none;
  transition: all 0.3s ease-in-out;
}
.App #user-credentials .register form input:focus,
.App #user-credentials .login form input:focus {
  border: 1px solid #4188de;
}
.App #user-credentials .register form button,
.App #user-credentials .login form button {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #222;
  cursor: pointer;
  outline: none;
  background-color: #4188de;
  color: #fff;
  transition: all 0.3s ease-in-out;
}
.App #user-credentials .register form button:hover,
.App #user-credentials .login form button:hover {
  background-color: #fff;
  color: #4188de;
}
.App #user-credentials .register p,
.App #user-credentials .login p {
  font-size: 1.2rem;
}
.App #user-credentials .register p span,
.App #user-credentials .login p span {
  cursor: pointer;
  color: #4188de;
  font-weight: 800;
}
.App #user-credentials .register p span:active, .App #user-credentials .register p span:focus, .App #user-credentials .register p span:hover,
.App #user-credentials .login p span:active,
.App #user-credentials .login p span:focus,
.App #user-credentials .login p span:hover {
  color: #0555b5;
}
.App #user-credentials .register .warning,
.App #user-credentials .login .warning {
  color: red;
  font-size: 1rem;
  text-transform: uppercase;
  font-family: sans-serif;
}
.App #user-credentials .games-history {
  width: 100%;
  padding: 0 1rem;
  transition: inherit;
  overflow-y: auto;
}
.App #user-credentials .games-history::-webkit-scrollbar {
  width: 0.5rem;
}
.App #user-credentials .games-history::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.App #user-credentials .games-history::-webkit-scrollbar-thumb {
  background: #4188de;
  border-radius: 50px;
}
.App #user-credentials .games-history::-webkit-scrollbar-thumb:hover {
  background: #0555b5;
}
.App #user-credentials .games-history .game-header {
  font: 1.5rem/1.5 sans-serif;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  margin: 10px 0;
  cursor: pointer;
  border-radius: 10px;
  text-align: center;
  position: relative;
  text-transform: capitalize;
}
.App #user-credentials .games-history .game-header i {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(0, -50%);
  font-size: 1.5rem;
  color: #4188de;
  transition: all 0.3s ease-in-out;
}
.App #user-credentials .games-history .game-header i[class*=down] {
  display: inline-block;
}
.App #user-credentials .games-history .game-header i[class*=up] {
  display: none;
}
.App #user-credentials .games-history .game-header.active i[class*=down] {
  display: none;
}
.App #user-credentials .games-history .game-header.active i[class*=up] {
  display: inline-block;
}
.App #user-credentials .games-history .game-data {
  height: 0;
  width: 100%;
  padding: 0 0.5rem;
  overflow-y: hidden;
  transition: inherit;
}
.App #user-credentials .games-history .game-data > div {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.App #user-credentials .games-history .game-data .no-data {
  text-align: center;
  color: #555;
  margin: 10px 0;
}
.App #user-credentials #resize-credentials {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  transition: all 0.3s ease-in-out;
}
.App #user-credentials #resize-credentials span {
  font-size: 2rem;
  cursor: pointer;
  background-color: #fff;
  padding: 5px;
  box-shadow: -10px 0 5px 0 rgba(0, 0, 0, 0.1);
  border-radius: 40% 0 0 40%;
  transition: all 0.3s ease-in-out;
  color: #4188de;
}
.App #user-credentials #resize-credentials span:hover {
  color: #fff;
  background-color: #4188de;
}
.App #user-credentials #resize-credentials span i[class*=left] {
  display: inline-block;
}
.App #user-credentials #resize-credentials span i[class*=right] {
  display: none;
}
.App #user-credentials.active {
  right: 0;
}
.App #user-credentials.active #resize-credentials {
  transform: translate(0, -50%);
}
.App #user-credentials.active #resize-credentials span i[class*=left] {
  display: none;
}
.App #user-credentials.active #resize-credentials span i[class*=right] {
  display: inline-block;
}
.App #user-credentials #log-out {
  font-size: 1.4rem;
  font-family: sans-serif;
  padding: 8px 14px;
  margin-top: 20px;
  background-color: white;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 10px;
  transition: 0.2s ease-in-out;
}
.App #user-credentials #log-out:hover {
  background-color: #4188de;
  color: white;
}
.App .loading-screen {
  position: absolute;
  inset: 0;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  display: none;
}
.App .loading-screen.active {
  display: block;
}/*# sourceMappingURL=App.css.map */