#snake-container {
  position: relative;
  transition: all 0.3s ease-in-out;
  transition-property: width, height, left, top;
  width: 100%;
  height: 100%;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
}
#snake-container.active {
  z-index: 10000;
  left: -100%;
}
#snake-container #snake-game {
  background-color: #f55;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#snake-container #snake-game .box {
  width: 50px;
  height: 50px;
  background-color: #f55;
  position: relative;
}
#snake-container #snake-game .box i {
  display: none;
  color: red;
  font-size: 35px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 0 0 8px rgb(0, 0, 0);
}
#snake-container #snake-game .box.apple i {
  display: block;
  animation: glow 0.5s linear infinite;
}
@keyframes glow {
  0%, 100% {
    color: #f00;
    transform: scale(1) translate(-50%, -50%);
  }
  50% {
    transform: scale(1.05) translate(-50%, -50%);
    color: #faa;
  }
}
#snake-container #snake-game .box.snake {
  background-color: #5f5;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20%;
}
#snake-container #snake-game .box.snake::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #000;
  border-radius: 50%;
  display: none;
}
#snake-container #snake-game .box[class*=head] {
  border-radius: 30%;
}
#snake-container #snake-game .box[class*=head]::before {
  display: block;
}
#snake-container #snake-game .box.head-right {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}
#snake-container #snake-game .box.head-left {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}
#snake-container #snake-game .box.head-up {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}
#snake-container #snake-game .box.head-down {
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
@media (width <= 300px) {
  #snake-container #snake-game .box {
    width: 10px;
    height: 10px;
  }
}
#snake-container .modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 300px;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  animation: appear-snake 0.4s ease-in-out;
}
#snake-container .modal.active {
  display: flex;
}
#snake-container .modal #snake-game-over {
  width: 100%;
  height: 100%;
  display: none;
  font-size: 30px;
  color: #f55;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;
  background-color: #fff;
}
#snake-container .modal #snake-game-over button {
  min-width: 100px;
  height: 50px;
  background-color: #f55;
  border-radius: 10px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
}
#snake-container .modal #snake-game-over button:hover {
  background-color: #f00;
}
#snake-container .modal #snake-game-over h4 {
  font-size: 25px;
  color: #000;
}
#snake-container .modal .start-game {
  width: 100%;
  height: 100%;
  background-color: #fff;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  display: flex;
  color: #f55;
}
#snake-container .modal .start-game .choose-difficulty {
  font-size: 16px;
  color: black;
}
#snake-container .modal .start-game .choose-difficulty h2 {
  text-align: center;
}
#snake-container .modal .start-game .choose-difficulty .difficulty {
  margin-top: 10px;
}
#snake-container .modal .start-game .choose-difficulty .difficulty button {
  width: 80px;
  height: 40px;
  background-color: #f55;
  border-radius: 10px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  padding: 10px;
  margin: 0 10px;
  transition: all 0.1s ease-in-out;
}
#snake-container .modal .start-game .choose-difficulty .difficulty button.selected {
  background-color: #f00;
  transform: scale(1.1);
}
#snake-container .modal .start-game p {
  vertical-align: top;
  font-size: 25px;
  margin-top: -20px;
}
#snake-container .modal .start-game p img {
  position: relative;
  top: 20px;
  width: 50px;
  height: 50px;
}
#snake-container .modal .start-game #start-btn {
  min-width: 100px;
  height: 50px;
  background-color: #f55;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
}
#snake-container .modal .start-game #start-btn:hover {
  background-color: #f00;
}
#snake-container .modal.game-over {
  width: 400px;
  height: 200px;
}
#snake-container .modal.game-over .start-game {
  display: none;
}
#snake-container .modal.game-over #snake-game-over {
  display: flex;
}
@keyframes appear-snake {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
#snake-container .score {
  font-size: 30px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
#snake-container .score #score {
  color: #f55;
  font-size: 40px;
}/*# sourceMappingURL=Snake.css.map */